<div class="card">
  <div class="card-body">
    <h1>{{post.title}}</h1>
    <hr />
    <small>Publication date: {{post.date}}</small>
    <br />
    <small>Category: {{post.category.name}}</small>
    <hr />
    {{post.content}}
  </div>
</div>